
h1 {
    font-size: 120%;
    }
    /*
    Los selectores son h1 y p.
    El ; al final de una propiedad es obligatorio.
    */
    p {
    font-size: 90%;
    }

    /* El caracter # seguido por el ID navigation es el selector*/
#navigation {
    border: 1px solid black;
    padding: 40px;
    }



/*Es recomendable colocar estos elementos como bloques en el estilo*/
header, section, nav, aside, footer {
    display: block;
    }